<!--Partials/footer-->
<style>
footer{
    color:#082015;
    background: rgb(17, 175, 101);
}

img{
    width:25px;
    height:25px;
    text-align: match-parent;
}

</style>
<body>
<footer class="page-footer font-small pt-4">

        <div class="container-fluid text-center text-md-left">
      
          <div class="row">
    
            <div class="col-md-6 mt-md-0 mt-3">
      
              <h5 class="text-uppercase">Footer Content</h5>
              <p>Here you can use rows and columns to organize your footer content.</p>
      
            </div>
      
            <hr class="clearfix w-100 d-md-none pb-3">      
 
            <div class="col-md-3 mb-md-0 mb-3">
      
              <!-- Links -->
              <h5 class="text-uppercase">Links</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="/">About</a>
                </li>
                <li>
                  <a href="/projects">Projects</a>
                </li>
                <li>
                  <a href="/contacts">Contact</a>
                </li>
              </ul>
            </div>

            <hr class="clearfix w-100 d-md-none pb-3">

            <div class='col-md-3 mb-md-0 mb-3'>
                <h5 class='text-uppercase'>Social</h5>

                <ul class='list-unstyled'>
                    <li >
                        <a href='https://www.instagram.com/ladaayylexx/'>
                            <img src='../photo/glyph-logo_May2016.png'/>
                        </a>
                    </li>
                    <li>
                        <a href='https://www.linkedin.com/in/lexius-waltar'>
                            <img src='..\photo\LI-In-Bug.png'/>
                        </a>
                    </li>
                    <li>
                        <a href='https://github.com/Lexmw'>
                            <img src='..\photo\GitHub-Mark-32px.png'>
                        </a>
                    </li>
                </ul>
            </div>
          </div>      
        </div>
      </footer>
</body>