#header {
    border: 2px solid rgb(17, 175, 101); 
    padding: 30px ;
    text-align: center;
    background: rgb(20, 212, 139);
    font-size: 31px;
    color:white;
}

#test {
    background: cornsilk;
    border: 4px red solid;
}

#logo{
    height:125px;
    width:125px;
    border-radius: 100%;
    float: left;
    padding: 10px 20px 10px 20px;
    
}

a.active {
    float: right;
    padding: auto;
    display:block;
    background-color: rgb(241, 218, 9);
    border-radius: 30%;
    padding: 10px;
    margin: 10px;

}

#inner{

}